<section class="et-hero-tabs">
  <a class="navbar-brand" href="#">
    <img
      src="./assets/img/PETOPIA_blanco.png"
      alt="Logo"
      style="width: 10%; position: absolute; left: 2%; bottom: 16%"
      class="rounded-pill"
    />
  </a>

  <div class="center">
    <button
      class="show-btn"
      style="
        position: absolute;
        right: 10%;
        top: 1%;
        background-color: chocolate;
        color: aliceblue;
        border-radius: 10%;
        border: none;
      "
      (click)="signout()"
      [hidden]="!isLoggedIn"
    >
      sign out
    </button>

    <svg viewBox="0 0 1000 1000" class="svg_rot"></svg>
    <input type="checkbox" id="show" />
    <label
      for="show"
      class="show-btn"
      style="
        position: absolute;
        right: 1%;
        top: 1%;
        background-color: chocolate;
        color: aliceblue;
        border-radius: 10%;
      "
    >
      {{ !isLoggedIn ? "sign in" : "Card" }}
    </label>

    <div
      class="cont"
      style="height: 520px; overflow: scroll"
      [ngStyle]="{ left: isLoggedIn ? '45%' : '50%' }"
    >
      <!-- login form -->
      <label
        [hidden]="isLoggedIn"
        for="show"
        class="close-btn fas fa-times"
        title="close"
      ></label>
      <div [hidden]="isLoggedIn" class="text">
        {{ authAction == "signin" ? "Login" : "Signup" }} Form
      </div>
      <form [hidden]="isLoggedIn" #signinForm="ngForm" (submit)="auth()">
        <p style="margin-top: 20px" [ngStyle]="{ color: messageColor }">
          {{ alertMessage }}
        </p>
        <div [hidden]="authAction == 'signin'" class="data">
          <label>Name</label>
          <input name="userName" [(ngModel)]="userName" type="text" required />
        </div>
        <div class="data">
          <label>Email</label>
          <input name="email" [(ngModel)]="email" type="text" required />
        </div>
        <div class="data">
          <label>Password</label>
          <input
            name="password"
            [(ngModel)]="password"
            type="password"
            required
          />
        </div>
        <br />
        <div class="forgot-pass">
          <a href="#">Forgot Password?</a>
        </div>
        <div class="btn">
          <div class="inner"></div>
          <button>{{ authAction == "signin" ? "Sign in" : "Sign Up" }}</button>
        </div>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <div [hidden]="authAction == 'signup'" class="signup-link">
          Not a member?
          <a
            style="cursor: pointer; color: #666"
            (click)="authAction = 'signup'"
            >Signup now</a
          >
        </div>
        <div [hidden]="authAction == 'signin'" class="signup-link">
          Have an account?
          <a
            style="cursor: pointer; color: #666"
            (click)="authAction = 'signin'"
            >Signin now</a
          >
        </div>
      </form>

      <!-- animal form -->
      <label
        [hidden]="!isLoggedIn"
        for="card"
        class="close-btn fas fa-times"
        title="close"
      ></label>
      <div [hidden]="!isLoggedIn" class="text">Card Animal</div>

      <form
        [hidden]="!isLoggedIn"
        #cardForm="ngForm"
        (submit)="submitCard(cardForm)"
      >
        <p style="margin-top: 20px" [ngStyle]="{ color: messageColor }">
          {{ alertMessage }}
        </p>
        <!-- form options -->
        <div style="display: flex">
          <!-- form action -->
          <div>
            <label for="action">Action</label>
            <select [(ngModel)]="actionValue" name="action" id="action">
              <option value="create">create</option>
              <option value="update">update</option>
              <option value="delete">delete</option>
            </select>
          </div>
          <!-- card name -->
          <div [hidden]="actionValue == 'create'">
            <label for="card">Card</label>
            <select name="animalID" [(ngModel)]="animalID" required>
              <option
                *ngFor="let animal of animalService.animals"
                [value]="animal.id"
              >
                {{ animal.name }}
              </option>
            </select>
          </div>
        </div>
        <!-- form name -->
        <div [hidden]="actionValue == 'delete'" class="data">
          <label>Name</label>
          <input
            placeholder="animal name"
            name="name"
            [(ngModel)]="name"
            type="text"
            required
          />
        </div>
        <div [hidden]="actionValue == 'delete'" class="data">
          <label>Date of birth</label>
          <input
            placeholder="yyyy-mm-dd"
            name="dateOfBirth"
            [(ngModel)]="dateOfBirth"
            type="text"
            required
          />
        </div>
        <div [hidden]="actionValue == 'delete'" class="data">
          <label>Description</label>
          <input
            placeholder="animal description"
            name="description"
            [(ngModel)]="description"
            type="text"
            required
          />
        </div>
        <div style="display: flex; justify-content: space-between">
          <div [hidden]="actionValue == 'delete'">
            <label for="card">Size</label>
            <select name="size" [(ngModel)]="size" id="size" required>
              <option
                *ngFor="let size of ['small', 'medium', 'big']"
                [value]="size"
              >
                {{ size }}
              </option>
            </select>
          </div>
          <div [hidden]="actionValue == 'delete'">
            <label for="card">Type</label>
            <select name="type" [(ngModel)]="type" id="type" required>
              <option *ngFor="let type of ['cat', 'dog']" [value]="type">
                {{ type }}
              </option>
            </select>
          </div>
          <div [hidden]="actionValue == 'delete'">
            <label for="card">Sex</label>
            <select name="sex" [(ngModel)]="sex" id="sex" required>
              <option *ngFor="let sex of ['male', 'female']" [value]="sex">
                {{ sex }}
              </option>
            </select>
          </div>
        </div>

        <div [hidden]="actionValue == 'delete'" class="data">
          <label>Image</label>
          <input
            (change)="onChangeFile($event)"
            accept=".jpg, .jpeg, .png"
            type="file"
            required
          />
        </div>

        <div class="btn">
          <div class="inner"></div>
          <button>Submit</button>
        </div>
      </form>
    </div>
  </div>

  <div class="et-hero-tabs-container">
    <div class="col-md-3">
      <img
        src="./assets/img/dog-silhouette.png"
        id="dog"
        class="d-none d-lg-inline"
      />
      <span class="num font-big color-rojo">{{
        animalService.dogs.length
      }}</span>
      <span class="num2">PERROS EN ADOPCIÓN</span>
    </div>

    <div class="col-md-3">
      <img
        src="./assets/img/adopted-dog-silhouette.png"
        id="adopted-dog"
        class="d-none d-lg-inline"
      />
      <span class="num font-big color-verde">354</span>
      <span class="num2">PERROS ADOPTADOS</span>
    </div>

    <div class="col-md-3">
      <img
        src="./assets/img/cat-silhouette.png"
        id="cat"
        class="d-none d-lg-inline"
      />
      <span class="num font-big color-rojo">{{
        animalService.cats.length
      }}</span>
      <span class="num2">GATOS EN ADOPCIÓN</span>
    </div>

    <div class="col-md-3">
      <img
        src="./assets/img/adopted-cat-silhouette.png"
        id="adopted-cat"
        class="d-none d-lg-inline"
      />
      <span class="num font-big color-verde">96</span>
      <span class="num2">GATOS ADOPTADOS</span>
      <!--<a class="et-hero-tab" href="#tab-other">Other</a>
      <span class="et-hero-tab-slider"></span>-->
    </div>
  </div>
</section>
